@import './hero';
@import './main';



@media only screen and (min-width: 1300px) { 
    .app-left{
        padding: 0em 5em;
        background-image: url('../../images/bg-pattern-desktop.svg');
        background-size: cover;
    }
    
}